@model Restaurant_IMS.Models.Restaurant
@{ 
    ViewBag.Title = Model.emri;
}

<h1>@Model.emri</h1>
<div> ... details ... </div>
<div>
    ID: @Model.Id;
    Kuzhina: @Model.Kuzhina;
</div>
<a asp-action="Index" asp-controller="Home">Home</a>