@model Restaurant_IMS.Models.Restaurant
@{ 
    ViewBag.Title = Model.emri;
}

<h1 class="header">@Model.emri</h1>
<div class="col-md-12"> Details: </div>
<br />
<div class="panel">
    <div class="panel-body">

        ID: @Model.Id 
        <br />
        Kuzhina: @Model.Kuzhina 
    </div>
   
</div>
<button class="btn btn-primary"style="float:right;"> <a asp-action="Index" asp-controller="Home" style="color:white;" >Back </a></button>